body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 1280px;
  height: 800px; }

h1, h2 {
  margin: 0; }

pre {
  background: 0;
  color: #fff;
  padding: 10px;
  border: 1px solid #333; }

header {
  background-color: #ccc;
  color: #111;
  padding: 30px;
  border-bottom: 1px solid #999; }
  header h1 {
    font-weight: normal;
    font-size: 34px;
    line-height: 34px; }

section {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  background: #fff;
  position: absolute;
  color: #334;
  width: 100%; }
  section h2 {
    font-size: 42px;
    margin: 24px; }
  section p {
    font-size: 22px;
    margin: 0 24px 24px 24px; }
  section.active {
    opacity: 1; }

footer {
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #121221;
  color: #ddd; }
  footer p {
    position: absolute;
    text-align: left;
    bottom: 0px; }
  footer p:first-child {
    left: 30px; }
  footer p:nth-child(2) {
    right: 30px; }
    footer p:nth-child(2) a {
      color: #fff;
      text-decoration: none; }
      footer p:nth-child(2) a:hover {
        text-decoration: underline; }
